/* Common Styles */
nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-menu a:hover,
.nav-menu a.active {
  background-color: #555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding-top: 80px; 
}

/* Home Page Styles */
#drag-drop-container {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  width: 400px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
#drag-drop-container:hover {
  border-color: #4CAF50;
  background-color: #f1f1f1;
  transform: scale(1.1);
  cursor: pointer;
}

#drag-drop-container.drag-over {
  border-color: #4CAF50;
  background-color: #f1f1f1;
  transform: scale(1.1);
  cursor: pointer;
}

.upload-button {
  margin-top: 20px;
  background-color: #ccc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: default;
}

.upload-button.enabled {
  background-color: #4CAF50;
  cursor: pointer;
}

.file-label {
  font-size: 16px;
}

.file-input {
  margin: 1rem 0;
}

.file-info {
  display: center;
  flex-direction: column;
  align-items: flex-start;
}

#no-file-chosen {
  margin-top: 5px;
}